<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
  <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
      <div class="swiper-wrapper">

          <!-- Item 1 -->
          <div class="swiper-slide slide-center">

              <!-- Media -->
              <img src="assets/images/bg-wide.jpg" alt="Full Image" class="full-image" data-mask="80">

              <div class="slide-content row text-center">
                  <div class="col-12 mx-auto inner">

                      <!-- Content -->
                      <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="/">Home</a></li>
                              <li class="breadcrumb-item active" aria-current="page">Service Details</li>
                          </ol>
                      </nav>
                      <h1 class="mb-0 title effect-static-text">Software Engineering</h1>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>

<!-- Single -->
<section id="single" class="section-1 single">
  <div class="container">
      <div class="row">

          <!-- Main -->
          <div class="col-12 col-lg-8 p-0 text">
              <div class="row intro m-0">
                  <div class="col-12">
                      <span class="pre-title m-0">Technology & language agnostic</span>
                      <div class="title-icon">
                          <h2><span class="featured"><span><i class="icon icon-present"></i> Software </span></span> Engineering</h2>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12 align-self-center">
                      <p>
                        We are a team of experienced software engineers who are passionate about creating innovative and high-quality software solutions for businesses of all sizes.
                      </p>
                      <p>
                        Our services include software design, development, testing, and maintenance, as well as consultation and project management. We specialise in a wide range of technologies and programming languages, including but not limited to, Java, Python, C++, Ruby, and .NET. We use the latest software development methodologies and tools, including Agile, Scrum, DevOps, and CI/CD, to deliver projects on time, on budget, and to the highest quality standards.
                      </p>
                      <p>
                        Our team works closely with clients to understand their business needs and goals, and to develop custom software solutions that are tailored to their specific requirements. We pride ourselves on our ability to deliver solutions that are scalable, reliable, and user-friendly, and that provide tangible business value to our clients.
                      </p>
                      <p>
                        Whether you are looking to develop a new software application, enhance an existing one, or need ongoing support and maintenance, our team is here to help. Contact us today to learn more about our software engineering services and how we can help your business grow and thrive in the digital age
                      </p>
                  </div>
              </div>
          </div>

          <!-- Sidebar -->
                    <aside class="col-12 col-lg-4 pl-lg-5 p-0 float-right sidebar">

                        <!-- Services -->
                        <div class="row item widget-services">
                            <div class="col-12 align-self-center">
                                <h4 class="title">Our Services</h4>
                                <div class="quote">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <a href="#"><i class="icon icon-organization"></i></a>
                                            <div class="list-group-content">
                                                <h4>Custom Software Development</h4>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <a href="#"><i class="icon icon-briefcase"></i></a>
                                            <div class="list-group-content">
                                                <h4>App Development​</h4>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <a href="#"><i class="icon icon-chart"></i></a>
                                            <div class="list-group-content">
                                                <h4>Business Intelligence</h4>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <a href="#"><i class="icon icon-chart"></i></a>
                                            <div class="list-group-content">
                                                <h4>DevSecOps</h4>
                                            </div>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-start align-items-center">
                                            <a href="#"><i class="icon icon-chart"></i></a>
                                            <div class="list-group-content">
                                                <h4>eCommerce</h4>
                                            </div>
                                        </li>
                                      <li class="list-group-item d-flex justify-content-start align-items-center">
                                          <a href="#"><i class="icon icon-chart"></i></a>
                                          <div class="list-group-content">
                                              <h4>Enterprise Applications</h4>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-start align-items-center">
                                          <a href="#"><i class="icon icon-chart"></i></a>
                                          <div class="list-group-content">
                                              <h4>Business Analysis</h4>
                                          </div>
                                      </li>
                                      <li class="list-group-item d-flex justify-content-start align-items-center">
                                          <a href="#"><i class="icon icon-chart"></i></a>
                                          <div class="list-group-content">
                                              <h4>Project Management</h4>
                                          </div>
                                      </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Gallery -->
                        <div class="row item widget-gallery mb-0">
                            <div class="col-12 align-self-center">
                                <h4 class="title">Certifications</h4>
                                <div class="gallery row justify-content-center">
                                    <a class="col-6 pl-0 item" href="assets/images/certificate.png">
                                        <img src="assets/images/certificate.png" alt="Certificate" class="w-100">
                                    </a>
                                    <a class="col-6 pr-0 item" href="assets/images/certificate.png">
                                        <img src="assets/images/certificate.png" alt="Certificate" class="w-100">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </aside>
      </div>
  </div>
</section>
