<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="assets/images/ie/bg-7.jpg" alt="Full Image" class="full-image" data-mask="80">

                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">

                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                        <h1 class="mb-0 title effect-static-text">About Us</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-1 highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <h2><span class="featured"><span>Who </span></span> We Are</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>Solving the problems of the modern world may be difficult. Customers expect individualized digital experiences. Business processes that were formerly difficult need to be automated. Efficiency has become critical. All of this, and more, necessitates transformation. Working with a service provider that is agile and understands your business is paramount. </p>
                        <p>ROCVEST has over 25 years combined experience in the technology sector. Our purpose is to assist businesses in innovating and growing, striving to take firms to the next level. Driven purely by passion, ROCVEST prides itself in its continued efforts to provide state-of-the-art solutions and services. </p>
                        <p>A professional client focused outfit which offers project management services for all its projects. We take great pride in our work and provide our clients with remarkable value, exceptional high-quality and innovative solutions, combined with a client centric orientation and competitive prices.</p>
                        <p>Experience and insight are necessary for success in the pursuit of a competitive advantage. You can drive your company ahead with confidence if you make the right choices. We are a consulting company that will stand by you through the entire creative, development and talent acquisition process and furthermore guide and help you achieve your business goals.</p>
                        <p>We know the landscape, we know your market, and we understand your industry.</p>
                        <p>ROCVEST (PTY) Ltd  is 100% black owned. We are a level 1 BBBEE contributor.</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4">
                <div class="quote mt-5 mt-lg-0">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <a href="#"><i class="icon icon-rocket"></i></a>
                            <div class="list-group-content">
                                <h4>Mission</h4>
                                <p>Technology Drives Everything!<br/>Our purpose is to help our clients create their future.
                                </p>
                            </div>
                        </li>
                        <li class="list-group-item d-flex justify-content-center align-items-center">
                            <a href="#"><i class="icon icon-eye"></i></a>
                            <div class="list-group-content">
                                <h4>Vision</h4>
                                <p>Drive Digital Transformation!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-2 odd highlights image-right counter funfacts featured">
    <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 pr-md-5 align-self-top text">
            <div data-aos="fade-up"  class="row intro m-0 m-md-auto">
                <div class="col-12 p-0">
                    <h2><span class="featured"><span>ROCVEST</span></span> Group</h2>
                    <p>ROCVEST operates via <b>two core divisions</b></p>
                </div>
            </div>
            <div class="row items">                             
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 item">
                    <h4><i class="mr-2 icon-organization"></i>Systems</h4>
                    <p>Software and Technology Consultants</p>
                </div>           
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 item">
                    <h4><i class="mr-2 icon-organization"></i>C3</h4>
                    <p>Civils, Construction, Consultants</p>
                </div> 
            </div>
        </div>
        <div class="col-12 col-md-6 pr-md-5 align-self-top text">
            <div class="row items">
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                    <div data-percent="128" class="radial left">
                        <span></span>
                    </div>
                    <h4>Certifications</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                    <div data-percent="230" class="radial left">
                        <span></span>
                    </div>
                    <h4>Employees</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="row items"> 
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                    <div data-percent="517" class="radial left">
                        <span></span>
                    </div>
                    <h4>Customers</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                    <div data-percent="94" class="radial left">
                        <span></span>
                    </div>
                    <h4>Countries Served</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- About 3 -->
<section id="about-3" class="section-3 highlights image-right featured">
    <div class="container">
    <div class="row">
        <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text">
            <div data-aos="fade-up"  class="row intro">
                <div class="col-12 p-0">
                    <h2><span class="featured"><span>The</span></span> Company</h2>
                    <p>Our exceptionally deep technical expertise allows us to take on projects often perceived as too complex or difficult by other consulting and software development companies.</p>
                </div>
            </div>
            <div class="row items">                             
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 item">
                    <h4><i class="mr-2 icon-badge"></i>Tradition</h4>
                    <p>We believe in working in partnership with our clients to understand their unique needs and working methods.</p>
                </div>           
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 item">
                    <h4><i class="mr-2 icon-lock"></i>Security</h4>
                    <p>In our experience, working together consistently results in creating intelligent solutions to meet our client's evolving business demands. This collaborative style of working has resulted in the development of an intelligent software company.</p>
                </div> 
            </div>
            <div class="row items"> 
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 item">
                    <h4><i class="mr-2 icon-note"></i>Certificate</h4>
                    <p>We are a team of highly experienced industry experts who are passionate not just about software development but also at creating an experience.</p>
                </div>  
                <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 item">
                    <h4><i class="mr-2 icon-graduation"></i>Expertise</h4>
                    <p>We take pride in our approach focused on delivering a quality product. To put the process in simplest terms, you provide an idea and we bring it to life; you provide a seed and we nurture it into a beautiful tree; you give us the story or dream and we will turn into reality!</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 p-0 image">
            <img src="assets/images/ie/about-3.jpeg" class="fit-image" alt="Fit Image">
        </div>
    </div>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="section-4 carousel testimonials">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <h2>Trusted <span class="featured"><span>Feedback</span></span></h2>
                    <p class="text-max-800">We work intensively in search of ideals that can add up in the lives of our customers. This is what moves us and we are grateful for the recognition.</p>
                </div>
            </div>
            <div class="swiper-container mid-slider items" data-perview="3"> 
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-5.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-5.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
