<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
                <!-- Media -->
                <img src="assets/images/ie/bg-7.jpg" alt="Full Image" class="full-image" data-mask="80">
                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>

                        <h1 class="mb-0 title effect-static-text">Services</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Process -->
<section id="process" class="section-1 process offers" style="background-color: white;">
    <div class="container full">
        <div class="row text-center intro">
            <div class="col-12">
                <h2><span class="featured"><span>Delivery</span></span> Framework</h2>
                <p class="text-max-800">We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>01</span></div>
                <h4>Collection of information</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>02</span></div>
                <h4>Strategic planning</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>03</span></div>
                <h4>Assignment of responsibilities</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>04</span></div>
                <h4>Formatting process</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>05</span></div>
                <h4>Continuity formalization</h4>
                <!-- <p>Lorem ipsum dolor sit amet consectetur.</p> -->
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section id="services" class="section-2 odd offers">
    <div class="container">
        <div class="row intro">
            <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                <h2 class="mb-0">Excellence in <span class="featured"><span>Services</span></span></h2>
            </div>
            <div class="col-12 col-md-3 align-self-end">
                <a href="#contact" class="smooth-anchor btn mx-auto mr-md-0 ml-md-auto outline-button">GET IN TOUCH</a>
            </div>
        </div>
        <div class="row justify-content-center items">
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-organization"></i>
                    <h4>Software Engineering</h4>
                    <p>Software engineering services are professional services that help businesses and organisations design, develop, test, deploy, and maintain software applications. ROCVEST has experienced software engineers who have expertise in a range of programming languages, platforms, and tools to development software solutions at scale.</p>
                    <i (click)="goToDetails()" class="btn-icon pulse fas fas fa-arrow-right"></i>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-briefcase"></i>
                    <h4>Smart Construction</h4>
                    <p>Our focus on smart construction adopts the use of digital technologies and intelligent systems to optimise the planning, design, construction, and management of buildings and infrastructure.</p>

                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-chart"></i>
                    <h4>Management Consulting</h4>
                    <p>Our professional consulting services that help organisations manage their information technology (IT) assets and resources effectively. ROCVEST has experienced consultants who have expertise in IT management, governance, and best practices.</p>

                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
              <div class="card">
                  <i class="icon icon-chart"></i>
                  <h4>Cybersecurity Consulting</h4>
                  <p>We provide cybersecurity consulting services are professional services that help businesses and organisations protect their digital assets from cyber threats and attacks. These services are typically provided by experienced cybersecurity professionals who have expertise in identifying and addressing vulnerabilities in computer systems, networks, and data.</p>

              </div>
          </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-plane"></i>
                    <h4>ICT Partner</h4>
                    <p>Our professional services provide information and communications technology (ICT) services to help organisations manage and optimise their technology infrastructure and operations. Our experienced ICT professionals have expertise in a wide range of technologies, including hardware, software, networking, and telecommunications.</p>

                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-globe-alt"></i>
                    <h4>Team Augmentation</h4>
                    <p>We specialise in helping organisations augment their software development teams with additional talent and resources. These services are provided by experienced software development professionals who have expertise in a wide range of technologies, programming languages, and development methodologies.</p>

                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
                <div class="card">
                    <i class="icon icon-drawer"></i>
                    <h4>SaaS & IaaS</h4>
                    <p>We provide Software as a Service services, which is cloud computing model that allows organisations to access software applications over the internet, rather than installing and running them on their own computers or servers. SaaS applications are typically delivered through a web browser, and users pay a subscription fee to access the software.</p>
                    <p>We provide Infrastructure as a Service services, which is a cloud computing model that provides organisations with access to virtualized computing resources such as servers, storage, and networking over the internet. With IaaS, organizations can avoid the expense and complexity of building and managing their own physical infrastructure, and instead rent computing resources on a pay-as-you-go basis.
                    </p>

                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item d-flex align-items-stretch">
              <div class="card">
                  <i class="icon icon-globe-alt"></i>
                  <h4>Skills Development & Training</h4>
                  <p>We provide IT skills development and training services helping organisations develop and improve their IT skills. These services are delivered through a combination of classroom instruction, hands-on training and online learning modules. We cover a wide range of topics related to IT, including governance, cybersecurity, programming languages, automation, end user computing and more.</p>

              </div>
          </div>
        </div>
    </div>
</section>
