<!-- Hero -->
<section id="slider" class="hero p-0 odd featured">
    <div class="swiper-container no-slider animation slider-h-50 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
                <!-- Media -->
                <img src="assets/images/ie/bg-7.jpg" alt="Full Image" class="full-image" data-mask="80">
                <div class="slide-content row text-center">
                    <div class="col-12 mx-auto inner">
                        <!-- Content -->
                        <nav data-aos="zoom-out-up" data-aos-delay="800" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Services</li>
                            </ol>
                        </nav>

                        <h1 class="mb-0 title effect-static-text">Services</h1>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Process -->
<section id="process" class="section-1 process offers">
    <div class="container full">
        <div class="row text-center intro">
            <div class="col-12">
                <h2><span class="featured"><span>Process</span></span> Management</h2>
                <p class="text-max-800">We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.</p>
            </div>
        </div>
        <div class="row justify-content-center text-center items">
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>01</span></div>
                <h4>Collection of information</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>02</span></div>
                <h4>Strategic planning</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>03</span></div>
                <h4>Assignment of responsibilities</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>04</span></div>
                <h4>Formatting process</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="col-12 col-md-6 col-lg-2 item">
                <div class="step"><span>05</span></div>
                <h4>Continuity formalization</h4>
                <p>Lorem ipsum dolor sit amet consectetur.</p>
            </div>
        </div>
    </div>
</section>

<!-- Services -->
<section id="services" class="section-2 odd offers">
    <div class="container">
        <div class="row intro">
            <div class="col-12 col-md-9 align-self-center text-center text-md-left">
                <h2 class="mb-0">Excellence in <span class="featured"><span>Services</span></span></h2>
            </div>
            <div class="col-12 col-md-3 align-self-end">
                <a href="#contact" class="smooth-anchor btn mx-auto mr-md-0 ml-md-auto outline-button">GET IN TOUCH</a>
            </div>
        </div>
        <div class="row justify-content-center items">
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-organization"></i>
                    <h4>Audit & Assurance</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-briefcase"></i>
                    <h4>Financial Advisory</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-chart"></i>
                    <h4>Analytics and M&A</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-plane"></i>
                    <h4>Middle Marketing</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-globe-alt"></i>
                    <h4>Legal Consulting</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
            <div data-aos="fade-up" class="col-12 col-md-6 item">
                <div class="card">
                    <i class="icon icon-drawer"></i>
                    <h4>Regulatory Risk</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras iaculis diam varius diam ultricies lacinia.</p>
                    <p>Curabitur convallis, diam a egestas iaculis, neque lorem interdum felis, in viverra lacus tortor in leo.</p>
                    <a href="single-service.html"><i class="btn-icon pulse fas fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>