<!-- Hero -->
<section id="slider" class="hero p-0 odd">
    <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">
        <div class="swiper-wrapper">
            <!-- Item 1 -->
            <div class="swiper-slide slide-center">
                <!-- Media -->
                <img src="assets/images/ie/bg-5.jpeg" alt="Full Image" class="full-image" data-mask="0">
                <div class="slide-content row">
                    <div class="col-12 d-flex justify-content-start inner">
                        <div class="left text-left">
                            <!-- Content -->
                            <h1 data-aos="zoom-in" data-aos-delay="900" class="title effect-static-text">
                                INNOVATIVE SOLUTIONS & SERVICES
                            </h1>
                            <p data-aos="zoom-in" data-aos-delay="1300" class="description bigger">Driven purely by passion, ROCVEST prides <br/>itself in its continued efforts to provide<br/> state-of-the-art solutions and services.</p>
                            <!-- Action -->
                            <div data-aos="fade-up" data-aos-delay="1700" class="buttons">
                                <div class="d-sm-inline-flex">
                                    <a [routerLink]="'/contact'" class="mt-4 btn primary-button">GET IN TOUCH</a>
                                    <a [routerLink]="'/about'" class="smooth-anchor ml-sm-4 mt-4 btn outline-button">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-1 highlights team image-right">
    <div class="container">
        <div class="row d-flex">
            <div class="col-12 col-lg-8 text flex-fill">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <h2><span class="featured"><span>Create </span></span> Your Future</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>We believe in working in partnership with our clients to understand their unique needs and working methods.</p>
                        <p>In our experience, working together consistently results in creating intelligent solutions to meet our client's evolving business demands. This collaborative style of working has resulted in the development  of an intelligent software company.</p>
                        <p>We are a team of highly experienced industry experts who are  passionate not just about software development but also at  creating an experience.</p>
                        <p>Our exceptionally deep technical expertise allow us to take on projects often perceived as too complex or difficult.</p>
                        <p>We take pride in our approach focused on delivering a quality  product. To put the process in simplest terms, you provide an  idea and we bring it to life; you provide a seed and we  nurture it  into a beautiful tree; you give us the story or dream  and we will turn into reality!</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4 flex-fill">
                <div class="quote mt-5 mt-lg-0" style="height: 100%;align-items: flex-start;">
                    <div class="quote-content">
                        <h4>Technology drives everything!</h4>
                        <p>Our purpose is to help our clients create their future.</p>
                        <p>Technology certainly has a significant impact on many aspects of our lives and has revolutionized the way we live, work, and communicate. From smartphones and social media to artificial intelligence and automation, technology has changed the way we interact with the world around us.</p>

                    </div>
                    <i class="quote-right fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- About 2 -->
<section id="about-2" class="section-2 odd highlights image-right counter funfacts featured" style="background-color: #111117;">
  <div class="container">
  <div class="row">
      <div class="col-12 col-md-6 pr-md-5 align-self-top text">
          <div data-aos="fade-up"  class="row intro m-0 m-md-auto">
              <div class="col-12 p-0">
                  <h2><span class="featured"><span>OUR </span></span> FOCUS</h2>
                  <p>Technology Drives Everything!</p>
              </div>
          </div>
      </div>
      <div class="col-12 col-md-6 pr-md-5 align-self-top text">
          <div class="row items">
              <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                  <h4>Strategy</h4>
              </div>
              <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                  <h4>Transformation</h4>
              </div>
          </div>
          <div class="row items">
              <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                  <h4>Innovation</h4>
              </div>
              <div data-aos="fade-up" class="col-12 col-md-6 p-0 pr-md-4 mb-2 item">
                  <h4>Quality</h4>
              </div>
          </div>
      </div>
  </div>
  </div>
</section>

<!-- Partners -->
<section id="partners" class="section-5 odd partners" style="background-color: #111117;">
  <div class="overflow-holder">
      <div class="container">
          <div class="swiper-container min-slider">
              <div class="swiper-wrapper">
                  <div class="swiper-slide slide-center item" *ngFor="let partner of partner; let i = index">
                      <img src="../../../assets/images/partners/{{partner.title}}.jpg" class="fit-image" alt="Fit Image">
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!-- Skills -->
<section id="skills" class="section-4 highlights image-right counter skills featured">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text items">
                <div data-aos="fade-up"  class="row intro">
                    <div class="col-12 p-0">
                        <h2><span class="featured"><span>The </span></span> Value</h2>
                        <p>Operating in the Fourth Industrial Revolution (4IR) is one that leverages emerging technologies such as artificial intelligence, the Internet of Things, robotics, and big data to create new products and services, transform existing industries, and solve complex problems.</p>
                        <p>ROCVEST offers cutting-edge technology solutions that empower our customers to transform their businesses and unlock new opportunities. We deliver a value proposition that sets us apart from competitors and enables our customers to unlock new opportunities and achieve their goals in the rapidly evolving 4IR landscape.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Advanced Technology</h4>
                        <p>Our solutions leverage the latest emerging technologies such as AI, IoT, and robotics to deliver powerful insights and enable automation and optimisation.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Customer-Centric Approach</h4>
                        <p>Our solutions are designed to meet the specific needs of our customers, with a focus on usability, flexibility, and scalability.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Data-Driven Insights</h4>
                        <p>Our solutions provide valuable data-driven insights that enable our customers to make informed decisions and optimize their operations.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Innovation</h4>
                        <p>We are constantly innovating and exploring new technologies to ensure that our solutions stay ahead of the curve and provide maximum value to our customers.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Industry Expertise</h4>
                        <p>Our team has deep expertise in our customers' industries, enabling us to provide tailored solutions that address their unique challenges.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 image">
                <img src="assets/images/ie/about-2.jpeg" class="fit-image" alt="Fit Image">
            </div>
        </div>
    </div>
</section>


