<!-- Hero -->
<section id="slider" class="hero p-0 odd">
    <div class="swiper-container no-slider animation slider-h-100 slider-h-auto">
        <div class="swiper-wrapper">

            <!-- Item 1 -->
            <div class="swiper-slide slide-center">

                <!-- Media -->
                <img src="assets/images/ie/bg-5.jpeg" alt="Full Image" class="full-image" data-mask="0">    

                <div class="slide-content row">
                    <div class="col-12 d-flex justify-content-start inner">
                        <div class="left text-left">
                            <!-- Content -->
                            <h1 data-aos="zoom-in" data-aos-delay="2000" class="title effect-static-text">
                                INNOVATIVE SOLUTIONS & SERVICES
                            </h1>
                            <p data-aos="zoom-in" data-aos-delay="2400" class="description bigger">Driven purely by passion, ROCVEST prides itself in its continued efforts to provide state-of-the-art solutions and services.</p>
                            <!-- Action -->
                            <div data-aos="fade-up" data-aos-delay="2800" class="buttons">
                                <div class="d-sm-inline-flex">
                                    <a href="contact.html" class="mt-4 btn primary-button">GET IN TOUCH</a>
                                    <a href="#about" class="smooth-anchor ml-sm-4 mt-4 btn outline-button">READ MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- About -->
<section id="about" class="section-1 highlights team image-right">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 align-self-top text">
                <div class="row intro m-0">
                    <div class="col-12 p-0">
                        <span class="pre-title m-0">You more prepared</span>
                        <h2><span class="featured"><span>Create </span></span> Your Future</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 p-0 pr-md-5">
                        <p>We believe in working in partnership with our clients to understand their unique needs and working methods.</p>
                        <p>In our experience, working together consistently results in creating intelligent solutions to meet our client's evolving business demands. This collaborative style of working has resulted in the development  of an intelligent software company.</p>
                        <p>We are a team of highly experienced industry experts who are  passionate not just about software development but also at  creating an experience.</p>
                        <p>Our exceptionally deep technical expertise allow us to take on projects often perceived as too complex or difficult.</p>
                        <p>We take pride in our approach focused on delivering a quality  product. To put the process in simplest terms, you provide an  idea and we bring it to life; you provide a seed and we  nurture it  into a beautiful tree; you give us the story or dream  and we will turn into reality!</p>
                    </div>
                </div>
            </div>
            <div data-aos="zoom-in" class="col-12 col-lg-4 align-self-end">
                <div class="quote mt-5 mt-lg-0">
                    <div class="quote-content">
                        <h4>Value Proposition</h4>
                        <p>As consultants, we collaborate closely with company owners and managers to identify problems, provide advise, and provide realistic solutions. Consider consultants to be physicians who identify a condition and provide a pain-relieving treatment.</p>
                        <p> Hiring a strategy consultant has many advantages, including experience, cost savings, time savings, objectivity, and customization.</p>
                    </div>
                    <i class="quote-right fas fa-quote-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials -->
<section id="testimonials" class="section-2 carousel testimonials">
    <div class="overflow-holder">
        <div class="container">
            <div class="row text-center intro">
                <div class="col-12">
                    <span class="pre-title">Customer Testimonials</span>
                    <h2>Trusted <span class="featured"><span>Feedback</span></span></h2>
                    <p class="text-max-800">We work intensively in search of ideals that can add up in the lives of our customers. This is what moves us and we are grateful for the recognition.</p>
                </div>
            </div>
            <div class="swiper-container mid-slider items" data-perview="3"> 
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-5.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-1.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-2.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-3.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-4.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide slide-center item">
                        <div class="row card">
                            <div class="col-12">
                                <img src="assets/images/logo-5.png" alt="Logo" class="logo">
                                <p>Praesent volutpat justo sit amet elementum malesuada. Praesent sagittis augue justo, in accumsan orci rhoncus at pellentesque.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <i class="quote-right fas fa-quote-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Skills -->
<section id="skills" class="section-4 highlights image-right counter skills featured">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 pr-md-5 align-self-center text-center text-md-left text items">
                <div data-aos="fade-up"  class="row intro">
                    <div class="col-12 p-0">
                        <span class="pre-title m-auto m-md-0">About the professional</span>
                        <h2><span class="featured"><span>The </span></span> Value</h2>
                        <p>Extensive consulting experience gained over many years of work in the professional and business qualification field.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="92" class="radial">
                            <span></span>
                        </div>
                    </div>         
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Expertise</h4>
                        <p>As consultants we are valued for our knowledge, expertise, and influence. We offer a considerably wider and deeper understanding of company trends, industry difficulties, new technology and procedures than internal staff.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="100" class="radial">
                            <span></span>
                        </div>
                    </div>         
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Cost Savings</h4>
                        <p>As experts a multitude of industries, we can assist you discover waste and minimise expenses.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="85" class="radial">
                            <span></span>
                        </div>
                    </div>         
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Time Savings</h4>
                        <p>We have prior knowledge of optimal practices. We can swiftly discover inefficiencies in a client's manufacturing process. With us, you don't have to reinvent the wheel or waste time on tasks that a skilled contractor can handle.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="85" class="radial">
                            <span></span>
                        </div>
                    </div>         
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Objectivity</h4>
                        <p>We are not as emotionally committed in operations as company owners, so we can more quickly recognise and handle issues, such as installing new technology or executing a merger or acquisition.</p>
                    </div>
                </div>
                <div data-aos="fade-up" class="row flex align-items-center text-left item">
                    <div class="col-5 col-sm-3 pl-0">
                        <div data-percent="85" class="radial">
                            <span></span>
                        </div>
                    </div>         
                    <div class="col-7 col-sm-9">
                        <h4 class="mt-0">Objectivity</h4>
                        <p>The services of consultants are not universal. Learning about each client's company and objectives allows us to personalise their guidance and strategy consulting to their individual issues.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 p-0 image">
                <img src="assets/images/ie/about-2.jpeg" class="fit-image" alt="Fit Image">
            </div>
        </div>
    </div>
</section>
