:host {                
    --section-1-bg-color: #ffffff;
    --section-2-bg-color: #cccccc;
    --section-3-bg-color: #111117;
    --section-4-bg-color: #ffffff;
    --section-5-bg-color: #eef4ed;
}